*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullimg{
    width: 50vw;
    height: 70%;
    position: relative;
}

h2{
    position: absolute;
    bottom: 40px;
    right: 20px;
}

p{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#libreria{
    width: 20vw;
    height: 70%;
    position: relative;
}

.up,.down{
    position: absolute;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: gray;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}

.up{
    top: 10px;
}

.down{
    bottom: 10px;
}

#libreria img{
    height: calc(100% / 5);
}

/* debug */

#fullimg{
    background-color: indigo;
}

#libreria{
    background-color: magenta;
}